<h1 mat-dialog-title>{{dialogData?.title}}</h1>
<div mat-dialog-content>
    <p><strong>{{dialogData?.messageTitle}} </strong></p>
    <p>{{dialogData?.contextText}}</p>

    <div class="row">
        <div class="w-50 mt-3 text-space-evenly">
        <span class="mr-5">Message Schedule Time : </span> <strong class="mr-5"> Now</strong> <span class="mr-5"> OR</span>
        </div>
      <mat-form-field class="w-50">
        <mat-label>Message Send Time</mat-label>                      
          <input  placeholder="Date" data-hook="bulkMessage.send.scheduleTime"
          matInput [min]="getMinDateTime()" max="9999-12-31T00:00"
          [formControl]="scheduleTime"  name="scheduleTime" id="date"
          [ngxMatDatetimePicker]="picker">
          <span matSuffix *ngIf="scheduleTime.value" (click)="clearValue()" class="closeIcon">
            <mat-icon>close</mat-icon>
          </span>
        <mat-datepicker-toggle matSuffix [for]="picker" (click)="pickerClicked()"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker 
           [touchUi]="'false'" [color]="'primary'"
           [hideTime]="'false'">
        </ngx-mat-datetime-picker>
        <mat-error>
          Please select date time greater than current time
      </mat-error>
      </mat-form-field>

      </div>
</div>
<div mat-dialog-actions>
    <button data-hook="model.buttonSecondary" class="reset-btn" mat-flat-button type="button" [mat-dialog-close]="''">{{dialogData?.buttonNo}}</button>
    <button data-hook="model.buttonPrimary" class="send-btn"  mat-flat-button type="button" (click)="sendMessage()" cdkFocusInitial>{{dialogData?.buttonYes}}</button>
</div>