@import '../node_modules/bootstrap/scss/bootstrap.scss';


$app-sample-bg: red;
.app-main__inner {
    background-position: center; /* Center the image */
    background-color: #f1f4f6;
}

.linkToTop {
    border: none !important;
    background-color: #fff !important;
    cursor: pointer !important;
    color: #033C73 !important;
}
.linkTopCol {
    padding-left: 2.1rem !important;
    padding-top: 0.5rem !important;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #7d7d7d;
    border-color: #949494;
}
#body > div > div.col-lg.col-sm-10.col-md-10.col-xs-10.mt-4 > form > div.row.mt-4 > div.col.text-right.ng-star-inserted > button:disabled {
    color: #fff !important;
    background-color: #7d7d7d !important;
    border-color: #949494 !important;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.ng2-smart-sort-link,
.ng2-smart-title{
    text-decoration: none !important;
    color: black !important;
    font-weight: 600;
}

.ng2-smart-action-delete-delete {
    color: #ec6868 !important;
}

.autocomplete-container {
    box-shadow: none !important;
    position: relative !important;
    overflow: visible !important;
    height: 40px !important;
}
   
body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-edit-single-message > div > div > div.col-8 > div > div.card-body > div > div > form > div:nth-child(4) > div > div:nth-child(2) > div,
body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-create-single-message > div > div > div.col-8 > div > div.card-body > div > div > form > div:nth-child(4) > div > div:nth-child(2) > div,
body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-edit-int-message > div > div > div.col-8 > div > div.card-body > div > div > form > div:nth-child(6) > div > div:nth-child(2) > div,
body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-create-int-message > div > div > div.col-8 > div > div.card-body > div > div > form > div:nth-child(6) > div > div:nth-child(2) > div{
    border: 1px solid #0065b8 !important;
    border-radius: 3px !important;
}

body > div > div.forms-container > div > form > div:nth-child(2) > input {
    width: 90% !important;
}

body > app-root > app-login > div {
    // background-color: #ffffff !important;
    height: 99vh !important;
    background: #ECE9E6;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#footer > div {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body > app-root > app-base-layout > div > app-sidebar > div > div.app-sidebar-content > div > perfect-scrollbar > div > div.ps-content > div > div > div.vsm-item.text-center > i{
    border: 1px solid #5f73b4;
    padding: 0.3rem;
    color: #ffffff;
    border-radius: 1rem;
    position: absolute;
    top: 5rem;
    background-color: #a9c9ef;
}
/* (1366x768) WXGA Display */
// @media  screen and (max-width: 1366px) {
//     .nhsNo,.dob {
//         max-width: 29%;
//     }
// }

body > ngb-modal-window > div > div{
    margin-top: 11rem !important;
    width: 27rem !important;
}



.mat-form-field-infix{
    // padding-left: 0.5rem !important;
}

mat-icon{
    color: #1b7cd5 !important;
}
.error-cstm{
    color: #f44336 !important;
}
 .mat-form-field-required-marker {
    color: #f44336;
 }

body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-users > div > div > div > div > div.card-body > div:nth-child(2) > div > div > div > table > tbody{
    text-align: left !important;
}

body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-pendingusers > div > div > div > div > div.card-body > div > div > div > div > table > tbody {
    text-align: left !important;
}

body > app-root > app-base-layout > div > div.app-main__outer > div{
    padding: 1rem;
}
input[type='date'] { 
    text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
    background-color: #115dab !important;
    color: white !important;
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element{
    background-color: #5786b1 !important;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
    background-color: #115dab;
}
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #115dab !important;
}
#mat-input-0:read-only {
    background-color: lightgray;
    &.mat-form-field-flex{
        background-color: lightgray;
    }
}
 
body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-user-audit > div > div > div > div > div.card-body > div:nth-child(3) > div > div,
body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-sent-message > div > div > div > div > div.card-body > div:nth-child(4) > div > div,
body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-accessroles > div > div > div > div > div.card-body > div:nth-child(3) > div > div,
body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-user-audit > div > div > div > div > div.card-body > div:nth-child(4) > div > div,
body > app-root > app-base-layout > div > div.app-main__outer > div > div > app-video-msg > div > div > div > div > div.card-body > div:nth-child(4) > div > div {
    box-shadow: none;
}

//Side Bar
/* .app-header__img{
    max-width: 10rem; 
    margin-bottom: 1rem;

} */
.dialog-container-custom {
    mat-dialog-container {
        background: #F7F7F7 !important;
    }
}
.admin-edit-dialog-container {
    mat-dialog-container {
        max-height: 750px !important;
    }
}


.mat-form-field.fill-container,
.mat-form-field.fill-container .mat-form-field-infix,
.mat-form-field.fill-container .mat-form-field-flex,
.mat-form-field.fill-container .mat-form-field-wrapper{
    height: 200px;
    width: 100%;
}
  


.mat-form-field.fill-container textarea{
    height: 175px
}
    

 .message-card{
        padding: 2rem;
        margin: 1rem;
        box-shadow: none !important;
        background:#F7F7F7 !important;
 }

    :host ::ng-deep .mat-form-field-label {
     left: 0.5em !important;
    }
    :host ::ng-deep .mat-form-field-flex {
      background-color: #fff;
    }
    
    
    .mat-form-field {
      .mat-input-element,.mat-select {
        padding: 5px !important;
      }
    }
    .choose-btn ::ng-deep .mat-raised-button{
        width: 15rem;
        padding-left:15%;
        height: 3.5rem;
        font-size: 18px;
        color: #333333 !important;
        border: 1px solid #979797 !important;
        background-color: #FFFFFF !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17) !important;
        .mat-icon{
            color:#333333 !important;
            position: absolute;
            top: 16px;
            left: 35px;
        }
    }
    .reset-btn{
        height: 51px;
        width: 127px;
        font-size: 18px;
        border: 1px solid #979797 !important;
        background-color: #FFFFFF !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17) !important; 
        
    }
    .send-btn{
        height: 50px;
        width: 305px;
        font-size: 18px;
        color: #FFFFFF !important;
        background-color: #00A3C4 !important;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17) !important;
        margin-left: 2rem;
    }

mat-spinner{
    width: 100% !important;
    height: 100% !important;
    z-index: 10000;
    position: absolute !important;
    svg {
    top:50% !important;
    left: 50% !important;
    }
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
}
.mat-dialog-container{
    background:#F7F7F7 !important;
  }
 /*  mat-form-field .mat-form-field {
    &-underline {
      position: relative;
      bottom: auto;
    }
    &-subscript-wrapper {
      position: static;
    }
  } */
  .autocomplete-item {
    height: 50px;
  }
  